@use '@colors' as c;
@use '@typographyStyles' as t;

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: c.$color-card-background;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 232px;
  padding: 32px 36px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
  }
}

.link {
  text-decoration: none;
}

.copyright {
  color: c.$color-caption;
  font-size: t.$font-caption-size;
  line-height: t.$font-caption-line-height;
}
