@use '@colors' as c;

.button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  transition:
    fill 0.3s ease,
    stroke 0.3s ease;
  fill: none;
  stroke: c.$color-text-primary;

  &.active {
    fill: c.$color-accent;
    stroke: c.$color-accent;
  }
}
