@use '@colors' as c;

.button {
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    .icon {
      transform: scale(1.1);
    }
  }

  &:active {
    .icon {
      transform: scale(0.95);
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  transform-origin: center;
  transition: transform 0.2s ease;

  use {
    fill: c.$color-text-primary;
    transition: fill 0.3s ease;
  }

  use.active {
    fill: c.$color-accent;
  }
}
