@use '@colors' as c;

.input {
  display: none;

  &:checked + .checkbox-icon {
    fill: c.$color-accent;
  }
}

.checkbox {
  &-icon {
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-right: 10px;
    transform-origin: center;
    transition:
      fill 0.2s ease,
      transform 0.2s ease;
    fill: c.$color-text-primary;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-content {
    display: flex;
  }

  &-open {
    margin-bottom: 12px;
  }
}

.label {
  display: flex;
  cursor: pointer;

  &:hover {
    .checkbox-icon {
      transform: scale(1.1);
    }
  }

  &:active {
    .checkbox-icon {
      transform: scale(0.95);
    }
  }
}

.text {
  line-height: 200%;
}

.arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &-button {
    width: 35px;
    height: 24px;
    background-color: transparent;
    border: none;
    transform: rotate(-90deg);
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &-closed {
    transform: rotate(180deg);
  }
}
