@use '@colors' as c;
@use '@typographyStyles' as t;

.label {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;

  .input {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked + .radioIcon {
      border-color: c.$color-button-pressed;

      &::after {
        background-color: c.$color-button-pressed;
      }
    }
  }

  .radioIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid c.$color-text-primary;
    border-radius: 50%;
    transition: border-color 0.3s ease;

    &::after {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color 0.3s ease;
      content: '';
    }
  }

  &:hover {
    .input:not(:checked) + .radioIcon {
      border-color: c.$color-button-hover;

      &::after {
        background-color: c.$color-button-hover;
      }
    }
  }
}
