@use '@colors' as c;
@use '@typographyStyles' as t;

.radio-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 2px solid c.$color-text-primary;
  border-radius: 50%;
  transition: border-color 0.3s ease;

  &::after {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    content: '';
  }
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;
  color: c.$color-text-primary;
  font-size: t.$font-h4-size;
  line-height: t.$font-h4-line-height;
  cursor: pointer;
  user-select: none;

  .input {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked + .radio-icon {
      border-color: c.$color-button-pressed;

      &::after {
        background-color: c.$color-button-pressed;
      }
    }
  }

  &:hover {
    .input:not(:checked) + .radio-icon {
      border-color: c.$color-button-hover;

      &::after {
        background-color: c.$color-button-hover;
      }
    }
  }
}

.text {
  line-height: 200%;
}
