@use '@colors' as c;

p {
  font-size: 16px; //TODO: костыль, нужно разобраться с глобальным стилем!!!
}

.skill-card {
  display: flex;
  flex-direction: column;
  padding: 32px 52px;
  background-color: c.$color-card-background;

  &__swiper {
    max-width: 440px;
    max-height: 324px;
    border-radius: 12px;

    &__image {
      width: 100%;
      height: 100%;
    }

    &__button {
      position: absolute;
      top: 50%;
      z-index: 666;
      width: 40px;
      height: 40px;
      background-color: c.$color-disabled;
      background-image: url('@svg/main/arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-width: 0;
      border-radius: 50%;
      filter: opacity(0.8);
      transition: 0.2s ease;

      &-prev {
        left: 16px;
        transform: translateY(-50%) rotate(270deg);
      }

      &-next {
        right: 16px;
        transform: translateY(-50%) rotate(90deg);
      }

      &:hover {
        cursor: pointer;
        filter: opacity(1);
      }

      &:active {
        filter: opacity(1) brightness(0.9);
      }

      &:disabled {
        background-color: c.$color-disabled;
        cursor: not-allowed;
        filter: opacity(0.5);
      }
    }
  }

  &__title {
    margin-bottom: 8px;
    text-align: center;
  }

  &__attention {
    margin-bottom: 40px;
    text-align: center;
  }

  &__options {
    display: flex;
    gap: 12px;
    justify-content: end;
    margin-bottom: 24px;
  }

  &__category-title {
    margin-bottom: 20px;
    color: c.$color-caption;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &__content {
    display: flex;
    gap: 77px;
    justify-content: space-between;
    height: 100%;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    max-height: 324px;

    &__button-wrapper {
      display: flex;
      gap: 12px;
    }
  }
}
