@use '@colors' as c;

.filters {
  width: 324px;
  height: min-content;
  padding: 20px;
  background-color: c.$color-card-background;
  border-radius: 8px;

  &-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.sub-title {
  margin-bottom: 20px;
}

.options {
  margin-left: 32px;
  list-style: none;
}

.option {
  margin-bottom: 6px;
}

.filters-tab {
  overflow-y: auto;
}

//TODO: вынести; list-style: none в глобал;

.filter-radio-tab {
  list-style: none;
}
