.label {
  display: block;
  cursor: pointer;
}

.input {
  display: none;
}

.checkbox-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--color-text-primary);
  vertical-align: middle;
  background-color: transparent;
  border-radius: 25%;
  pointer-events: none;
}

.checkbox-outline {
  fill: none;
  stroke: currentcolor;
}

.checkbox-mark {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  stroke: currentcolor;
  stroke-linecap: round;
}

.text {
  display: inline-block;
  margin-left: 8px;
  color: var(--color-text-primary);
  vertical-align: middle;
  user-select: none;
}
