@use '@colors' as c;

//  TODO: Сделать плавным как radio
.checkbox {
  &-icon {
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-right: 10px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.input {
  display: none;
}

.label {
  display: flex;
  cursor: pointer;
}

.text {
  line-height: 200%;

  &-container {
    display: flex;
    justify-content: space-between;
    width: 284px;
  }
}
