$color-text-primary: #253017;
$color-text-disabled: #9ca197;
$color-text-link: #508826;
$color-black: #000;

$color-button-pressed: $color-text-link;
$color-button-hover: #deebc5;

$color-card-background: #fff;
$color-input-background: $color-card-background;

$color-button-hover: #deebc5;
$color-caption: #69735d;
$color-toggle: #b2b9a9;
$color-disabled: #e4e8df;
$color-accent: #abd27a;
$color-background: #f9faf7;
$color-alarm: #e0796e;
$color-error: #bf3920;

$color-tag-business: #eee7f7;
$color-tag-arts: #f7e7f2;
$color-tag-languages: #ebe5c5;
$color-tag-education: #e7f2f6;
$color-tag-home: #f7ebe5;
$color-tag-health: #e9f7e7;
$color-tag-additional: #e8ecf7;
