$color-text-primary: #253017;
$color-text-disabled: #9CA197;
$color-text-link: #508826;
$color-button-pressed: $color-text-link;
$color-caption: #69735D;
$color-toggle: #B2B9A9;
$color-disabled: #E4E8DF;
$color-accent: #ABD27A;
$color-button-hover: #DEEBC5;
$color-background: #F9FAF7;
$color-alarm: #E0796E;
$color-error: #BF3920;
$color-tag-business: #EEE7F7;
$color-tag-arts: #F7E7F2;
$color-tag-languages: #EBE5C5;
$color-tag-education: #E7F2F6;
$color-tag-home: #F7EBE5;
$color-tag-health: #E9F7E7;
$color-tag-additional: #E8ECF7;
