$font-primary: 'Jost', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-h1-size: 32px;
$font-h1-line-height: 40px;

$font-h2-size: 24px;
$font-h2-line-height: 32px;

$font-h3-size: 20px;
$font-h3-line-height: 24px;

$font-h4-size: 16px;
$font-h4-line-height: 24px;

$font-caption-size: 12px;
$font-caption-line-height: 16px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
