@use '@colors' as c;

.wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 60px;
}

// TODO: вынести;TODOTODO   display: flex;display justify-content: center; margin-top: 136px; в отдельный .page-wrapper как глобальный стиль для всех страниц
 .skill-page {
  display: flex;
  justify-content: center;
  margin-top: 136px;
  padding: 0 36px 60px;
}
