@use '@colors' as c;

.main-page {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 100px;
  padding: 20px 36px;
}

.user-card-list__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
