@use '@colors' as c;
@use '@typographyStyles' as t;

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.icon-container {
  position: absolute;
  top: 50%;
  right: 12px;
  z-index: 1;
  transform: translateY(-50%);

  &.inactive {
    cursor: default;
    pointer-events: none;
  }

  &.active {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  padding: 12px 20px;
  background-color: c.$color-input-background;
  border: 1px solid c.$color-disabled;
  border-radius: 12px;
  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &::placeholder {
    color: c.$color-caption;
  }

  &:hover:not(.focused):not(.error) {
    border-color: c.$color-accent;
  }
}

.input.focused {
  border-color: c.$color-accent;
  box-shadow: 0 0 0 3px c.$color-accent-light;
}

.input.error {
  border-color: c.$color-error;
}

.input.with-icon {
  padding-right: 48px;
}

.error-message {
  color: c.$color-error;
  font-size: 12px;
}
