@use '@colors' as c;

.login-header {
  padding: 36px 36px 20px;

  a {
    text-decoration: none;
  }
}

.container {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100%;
}
