@use '@typographyStyles' as t;
@use '@colors' as c;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.label {
  margin-bottom: 4px;
  font-size: 14px;
  font-family: t.$font-secondary;
}

.input {
  position: relative;
  width: 208px;
  height: 48px;
  padding: 8px;
  font-family: t.$font-secondary;
  background-image: url('../../../assets/svg/main/calendar.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 1px solid c.$color-caption;
  border-radius: 8px;
  caret-color: c.$color-text-link;

  &:focus {
    outline: none;
  }
}

/*  Календарь  */

.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border: none;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: c.$color-card-background;
  border: 1px solid c.$color-caption;
  border-radius: 12px;
}

.footer {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  height: 48px;
  margin: 0 16px 16px;
}

/*  Глобальные стили react-datepicker  */

:global {
  /* Позиционирование */
  .react-datepicker-popper {
    top: -4px !important;
    left: 54px !important;
    z-index: 1000;
  }

  .react-datepicker__triangle {
    display: none;
  }

  /* Основной контейнер */
  .react-datepicker__month-container {
    float: left;
    padding: 16px 32px 0;
  }

  .calendarContainer__brBSh {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: c.$color-card-background;
    border: 1px solid c.$color-caption;
    border-radius: 12px;
  }

  .react-datepicker__header {
    background: transparent !important;
    border: none !important;
  }

  .footer__qnrzg {
    border: none;
  }

  /* Стили текста */
  .react-datepicker__day-name {
    color: c.$color-text-link !important;
  }

  .react-datepicker__day {
    color: c.$color-text-primary !important;
  }

  /* Состояния дней */
  .react-datepicker__day--outside-month {
    color: c.$color-text-disabled !important;
    cursor: default;
    pointer-events: none;
  }

  .react-datepicker__day--disabled {
    color: c.$color-text-disabled !important;
    cursor: default;
    pointer-events: none;
  }

  .react-datepicker__day--today {
    font-weight: t.$font-weight-regular !important;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    color: c.$color-text-primary !important;
    font-weight: t.$font-weight-regular !important;
    background-color: c.$color-accent !important;
    border-radius: 90px !important;
  }

  /* Наведение */
  .react-datepicker__day:not(
      [aria-disabled='true'],
      .react-datepicker__day--selected,
      .react-datepicker__day--keyboard-selected
    ):hover {
    background-color: transparent !important;
  }
}
