@use '@typographyStyles' as t;
@use '@colors' as c;

.container {
  overflow: hidden;
  background: c.$color-card-background;
  border-radius: 12px;
}

.bordered {
  border: 1px solid c.$color-caption;  
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  color: c.$color-caption;
  font-size: t.$font-h4-size;
  font-family: t.$font-secondary;
  background: c.$color-card-background;
  border: none;
  border-radius: 0;
}

.selected {
  color: c.$color-text-primary;  
}

.input {
    width: 100%;
    height: 100%;
    border: none;

    &:focus {
        outline: none;
    }
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 120px;
  padding: 8px 0;
  overflow-y: auto;
  background: c.$color-card-background;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 30%);
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255 255 255 / 50%);
  }
}

.option {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: c.$color-text-primary;  
  font-size: t.$font-h4-size;
  font-family: t.$font-secondary;
  line-height: 32px;
  background: c.$color-card-background;
  border-radius: 12px;

  &:hover {
    background: c.$color-accent;
  }
}

.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
}

.icon {
  width: 24px;
  height: 24px;
  margin: auto 20px auto auto;
}