@import 'styles/global';
@import 'styles/colors';
@import 'styles/typography';
@import './assets/fonts/fonts.scss';
@import 'styles/mixins';

h1 {
  @include heading($font-weight-medium, $font-h1-size, $font-h1-line-height, $font-primary);
}

h2 {
  @include heading($font-weight-medium, $font-h2-size, $font-h2-line-height, $font-primary);
}

h3 {
  @include heading($font-weight-medium, $font-h3-size, $font-h3-line-height, $font-primary);
}

h4 {
  @include heading($font-weight-medium, $font-h4-size, $font-h4-line-height, $font-secondary);
}

body {
	margin: 0;
	padding: 0;
	color: $color-text-primary;
	font-weight: $font-weight-regular;
	font-size: $font-h1-size;
	font-family: $font-secondary;
	line-height: $font-h3-line-height;
	background-color: $color-background;
	border: 0;
}

caption {
  @include heading($font-weight-regular, $font-caption-size, $font-caption-line-height, $font-secondary);
}
