@use '@colors' as c;

.icon {
  width: 24px;
  height: 24px;
  stroke: red;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;

  &.primary {
    color: c.$color-black;
    background-color: c.$color-accent;
    border-color: c.$color-accent;

    &:hover {
      background-color: c.$color-button-hover;
      border-color: c.$color-button-hover;
    }

    &:active {
      color: c.$color-card-background;
      background-color: c.$color-text-link;
      border-color: c.$color-text-link;
    }

    &:disabled {
      color: c.$color-caption;
      background-color: c.$color-disabled;
      border-color: c.$color-disabled;
    }
  }

  &.secondary {
    color: c.$color-black;
    background-color: c.$color-card-background;
    border-color: c.$color-accent;

    &:hover {
      color: c.$color-caption;
      border-color: c.$color-button-hover;
    }

    &:active {
      color: c.$color-text-primary;
      border-color: c.$color-text-link;
    }

    &:disabled {
      color: c.$color-text-disabled;
      border-color: c.$color-disabled;
    }
  }

  &.tertiary {
    width: auto;
    background-color: c.$color-card-background;
    border-color: c.$color-card-background;

    &:hover {
      background-color: c.$color-disabled;
      border-color: c.$color-disabled;
    }

    &:active {
      color: c.$color-card-background;
      background-color: c.$color-caption;
      border-color: c.$color-caption;
    }
  }
}
