@use '@colors' as c;

.icon {
  width: 24px;
  height: 24px;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 24px;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    color 0.15s ease;

  &.active {
    background-color: c.$color-button-hover;
  }

  &.fixed.active {
    background-color: c.$color-button-hover;
    border-color: c.$color-button-hover;
  }

  &.primary.active {
    background-color: c.$color-button-hover;
  }

  &.primary {
    background-color: c.$color-accent;
    border-color: c.$color-accent;

    &:hover {
      background-color: c.$color-button-hover;
      border-color: c.$color-button-hover;
    }

    &:active {
      color: c.$color-card-background;
      background-color: c.$color-text-link;
      border-color: c.$color-text-link;

      .icon {
        fill: c.$color-card-background;
      }
    }

    &:disabled {
      color: c.$color-caption;
      background-color: c.$color-disabled;
      border: 1px solid c.$color-disabled;

      .icon {
        fill: c.$color-caption;
      }
    }
  }

  &.secondary {
    background-color: c.$color-card-background;
    border-color: c.$color-accent;

    &:hover {
      color: c.$color-caption;
      border-color: c.$color-button-hover;

      .icon {
        fill: c.$color-caption;
      }
    }

    &:active {
      border-color: c.$color-text-link;

      .icon {
        fill: c.$color-text-primary;
      }
    }

    &:disabled {
      color: c.$color-caption;
      border-color: c.$color-button-hover;

      .icon {
        fill: c.$color-caption;
      }
    }
  }

  &.tertiary {
    width: auto;
    background-color: c.$color-card-background;
    border-color: c.$color-card-background;

    &:hover {
      background-color: c.$color-disabled;
      border-color: c.$color-disabled;
    }

    &:active {
      color: c.$color-card-background;
      background-color: c.$color-caption;
      border-color: c.$color-caption;

      .icon {
        fill: c.$color-card-background;
      }
    }

    &:disabled {
      color: c.$color-caption;
      background-color: c.$color-disabled;
      border: 1px solid c.$color-disabled;

      .icon {
        fill: c.$color-caption;
      }
    }
  }

  &.fixed {
    gap: 12px;
    justify-content: start;
    width: 100%;
    background-color: c.$color-card-background;
    border-color: c.$color-card-background;

    &:hover {
      background-color: c.$color-disabled;
      border-color: c.$color-disabled;
    }

    &:active {
      color: c.$color-card-background;
      background-color: c.$color-caption;
      border-color: c.$color-caption;

      .icon {
        fill: c.$color-card-background;
      }
    }
  }

  &.compact {
    height: 24px;
    padding: 0;
    color: c.$color-text-link;
    background-color: transparent;
    border: none;

    &.icon {
      fill: c.$color-text-link;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
      filter: brightness(0.7);
    }

    &:disabled {
      color: c.$color-caption;
      background-color: c.$color-disabled;
      border: 1px solid c.$color-disabled;

      .icon {
        fill: c.$color-caption;
      }
    }
  }
}
